<nav class="navbar navbar-expand-lg navbar-inverse fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Drinking Water</a>
    <button *ngIf="!(hasRole('CUSTOMER')||hasRole('USER')||hasRole('SHOPKEEPER')||hasRole('ADMIN'))" class="navbar-brand navbar-right btn btn-default"  (click)="goToLogin()">login</button>
    <button *ngIf="hasRole('CUSTOMER')||hasRole('USER')||hasRole('SHOPKEEPER')||hasRole('ADMIN')" class="navbar-brand navbar-right btn btn-danger" (click)="goToLogout()">logout</button>
    <button class="navbar-brand navbar-right btn btn-primary" role="button" routerLink="/cart">Cart</button>
  </div>
</nav>
