<div class="row panel-body">
  <div class="col-md-8 col-sm-8">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for name..." [(ngModel)]="searchText">
    </div>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Dropdown
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li (click)="onSearchName(searchText)"><a>Name</a></li>
        <li (click)="onSearchUserName(searchText)"><a>Username</a></li>
      </ul>
    </div>
  </div>
</div>

<div *ngFor="let actor of actors" class="row">
  <div *ngFor="let authority of actor.authorities">
    <div *ngIf="authority.id != 1 && actor.active == true">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3>Name: {{actor.name}}</h3>
          </div>
          <div class="caption">
            <h3>Username: {{actor.user.username}}</h3>
          </div>
          <div class="caption">
            <h4>Type: {{authority.name}}</h4>
          </div>
          <button class="btn btn-danger" (click)="deleteActor(actor)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>


