<div class="row panel-body">
  <div class="col-md-8 col-sm-8">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for name..." [(ngModel)]="search">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="onSearch()">Go!</button>
      </span>
    </div>
  </div>
</div>

<input type="text" placeholder="Search for Min..." id="min" [(ngModel)]="min"> -
<input type="text" placeholder="Search for Min..." id="max" [(ngModel)]="max">

<div *ngFor="let product of products" class="row">
  <div class="col-sm-6 col-md-4" *ngIf="product.show == true">
    <div class="thumbnail" *ngIf="product.price >= min && product.price <= max">
      <img [src]="product.image" [title]="product.name">
      <div class="caption">
        <div role="button" (click)="showDetail(product)">
          <h3>{{product.name}}</h3>
        </div>
        <p>{{product.description}}</p>
        <h4>{{product.price}}฿</h4>
        <p>
          <a class="btn btn-primary" role="button">Add to Cart</a>
        </p>
      </div>
    </div>
  </div>
</div>


